.JoinPage{
    background-color:black;
    width:100vw;
    height:100vh;
    color:white;
    display:flex;
    justify-content:center;
    align-items:center;

}
.JoinContainer{
   
    width:50%;
     display:flex;
     flex-direction:column;
     align-items:center;
}
.JoinContainer > img{
    width:10vmax;

}
.JoinContainer>h1 {
   color:white;
   font-size:2.5vmax;
   width:25vmax;
   border-bottom:0.2vmax solid white;
  font-family:"Roboto";
  text-align:center;
  padding:1vmax;
}

#joinInput{
    width:25vmax;
    padding:1.5vmax;
    border:none;
    outline:none;
    font-size:1.2vmax;
    margin:2vmax;
    box-sizing: border-box;
}
.joinbtn{
    width:25vmax;
padding: 1.5vmax;
    border: none;
    outline: none;
    font-size: 1.2vmax;
    margin: 2vmax;
    background-color:crimson;
    box-sizing:border-box;
    font-family:"Roboto";
    cursor:pointer;

}
.joinbtn:hover{
    background-color:rgb(180,27,58);
}